@media (max-width:1024px){
    .header-background{
        height: 400px;
    }
    .header-logo{
        width: 100px;
    }
    .header-nav-a{
        font-size: 14px;
    }
    .header-div-bottom{
        margin: 0 auto;
    }
    .header-bottom-p{
        margin-top: 80px;
        font-size: 15px;
        margin-left: 10px;
    }
    .header-bottom-h2{
        font-size: 50px;
        margin-left: 80px;
    }
    .header-bottom-p2{
        font-size: 14px;
        margin-left: 30px;
    }
    .section2{
        display: flex;
        flex-wrap: wrap;
    }
    .section2-div{
        width: 90%;
        margin: 0 auto;
        margin-top: 50px;
    }
    /* .section3-div{
        display: none;
    } */
    .section3-div2{
        display: flex;
        flex-wrap: wrap;
        width: 90%;
        margin: 0 auto;
        margin-top: 70px;
    }
    .section4{
        margin-top: 20px;
    }
    .section4-background{
        width: 100%;
    }
    .section4-smalldiv{
        margin: 0 auto;
        margin-top: 70px;
    }
    /* .email-div{
        width: 25%;
        margin: 0 auto;
        margin-top: 10px;
    } */
    .section5-div{
        display: none;
    }
}
@media (max-width:768px){
    .header-nav{
        display: none;
    }
    .div-burgerbar{
        display: block;
    }
    .header-logo{
        margin-left: 30px;
    }
    .container{
        display: flex;
        flex-wrap: wrap;
        margin: 0 auto;
        width: 40%;
        padding-left: 10px;
    }
    .container-div{
        padding-top: 25px;
    }
    .section2-div{
        display: flex;
        flex-wrap: wrap;
    }
    .section4-smalldiv{
        width: 65%;
        margin: 0 auto;
    }
    .email-div{
        width: 65%;
        margin: 0 auto;
    }
}
@media (max-width:481px){
    .header-logo{
        display: none;
    }
    .div-burgerbar{
        margin-top: 0px;
        margin-left: 0px;
    }
    .section1-div{
        font-size: 10px;
    }
    .header-bottom-h2{
        font-size: 15px;
    }
    .header-bottom-p2{
        font-size: 10px;
    }
    .section2-div{
        width: 40%;
        margin: 0 auto;
    }
    .section4-div{
        max-width: 400px;
        width: 100%;
        /* left: 10px; */
        top:50px;
    }
}
@media (max-width:320px){
    .header-background{
        height: 200px;
    }
    .div-burgerbar{
        font-size: 20px;
    }
    .header-div-bottom{
        margin-top: 10px;
        flex-direction: column;
        align-items: center;
        justify-content: center;
        display: flex;
    }
    .header-bottom-p{
        padding-left: 0px;
    }
    .header-bottom-h2{
        margin-left: 0px;
    }
    .header-bottom-p2{
        padding-left: 0px;
    }
    .container{
        width: 20%;
        margin: 0 auto;
        margin-left: 0px;
    }
    .section4-background{
        width: 100%;
    }
    .section4-div{
        /* max-width: 70px;
        width: 70%; */
        /* left: 10px; */
        display: flex;
        flex-direction: column;
        align-items: center;
    }
    .section4-header{
        font-size: 15px;
        margin-left: 0 auto;
    }
    .email-div{
        margin-left: 0px;
        margin: 0 auto;
        width: 230px;
    }
    .star-image{
        display: none;
    }
    .section5-div-top{
        display: flex;
        align-items: center;
    }
    .section6{
        width: 100%;
    }
    .form-input{
        width: 300px;
    }
    .button2{
        width: 300px;
    }
    .footer{
        height: 170px;
    }
    .footer-list{
        display: flex;
        flex-direction: column;
        margin-top: 10px;
        margin-bottom: 10px;
    }
}
