@media (max-width:1024px){
    .header-background{
        height: 400px;
    }
    .header-logo{
        width: 100px;
    }
    .header-nav-a{
        font-size: 14px;
    }
    .header-div-bottom{
        margin-left: 160px;
    }
    .section2{
        display: flex;
        margin-right: 70px;
    }
}